.about-image{
    height: 100%;
    object-fit: cover;
}

.grid{
    display: grid;
    grid-template-columns: 20% 70%;
    gap:50px;
    height:100%;
    color:white;
    align-items: center;
    justify-content: center;
    margin-top: 20px auto;
}
.grid .image-div{
    display: flex;
    align-self: center;
    height:300px;
}
.intro h1{
    margin-bottom: 20px;
    padding-top: 30px;
}

.about{
    background-color: black;
    box-shadow: -2px 4px 46px -15px #6b696b;
    opacity: .8;
    position:relative;
    margin: 50px 40px;
    border-radius: 10px;
    color:white;
    z-index: 400px;
}
