.header{
    height: 80px;
   
    background: #3E5151;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* opacity: .8; */
    position: sticky;
    top:0;
    z-index: 400;
    margin-bottom: 70px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    padding-left: 20px;
}

.navbar .flex{
    padding: 10px 0;
    margin: 5px, 0;
}

.navbar ul{
    display: flex;
    list-style-type: none;

}

li .link{
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

li .link:hover{
    color:black;
    font-weight: 400px;
}