@media(max-width:868px){


    .header{
        height: 130px;
        background: #3C3B3F;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: .5;
        position: sticky;
        top:0;
        z-index: 400;
        margin-bottom: 70px;
    }
    .flex{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    }
    .navbar .flex{
        margin-top: 40px;
    }
}