@media(max-width:500px){

  /* header/navbar */
  .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#icon{
  font-size:2rem;
}

#icon-2{
  font-size: 1.4rem;
}
.logo h1{
    font-size: 1.5rem;
}

.navbar .flex{
    margin: 5px, 0;
}

.navbar ul{
    list-style-type: none;
}

li .link{
    text-decoration: none;
    padding: 4px 10px;
    color: #fff;
}

li .link:hover{
    color:black;
    font-weight: 400px;
}


/* skills */
.skill {
  position: relative;
  background-color: black;
  height: auto;
  opacity: .8;
  margin: 50px 40px;
  padding:30px 30px;
  border-radius: 10px;
}

.grid-3 .card .grid-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 50px;
}

.card-image{
  height: 30px;
  width:50%;
  border-radius: 30px;
  box-shadow: 0 0 3px 3px rgba(1,12,13, .5); 
}

.card-1, .card-2, .card-3{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  gap:0;
  background-color: white;
  width:280px;
  height: 350px;
  color: #333;
  box-shadow: 1px 1px 2px 2px #ebebeb;
}

/* projects */

.grid-3, .projects .grid-3{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap:20px;
  /* justify-content: center; */
  /* align-items: center; */
}
.projects{
  position: relative;
  background-color: black;
  margin:50px 40px;
  padding: 30px 30px;
  z-index: -100;

}

.projects > h1{
  margin:40px 0;
}

.project-image {
  height: 50%;
   
}

.project-image > img{
  width: 100%;
  object-fit:cover;
}

.project-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width:307px;
  background-color: rgb(34, 34, 255);
  /* padding:40px; */
}

a .hob:hover{
  color:yellow;
  transform: scale(1.2);
}


/* footer */
.footer{
  position: relative;
  height: 140px;

/* 
  background: #3E5151;  
  background: -webkit-linear-gradient(to left, #DECBA4, #3E5151); 
  background: linear-gradient(to left, #DECBA4, #3E5151);  */

  background-color: rgb(241, 6, 6);
  opacity: .8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* z-index: 400; */
}

.navbarfooter ul a{
  color: #fff;
  font-size: .8rem;
  /* margin: 5px; */
  transition: .2s ease-in-out;
}
.navbarfooter ul a:hover{
  font-size: .7rem;
  color: black
}

.footer .flex{
  margin:3px auto;
}
.footer .flex .logo{
  font-size: .8rem;
}

}

