@media(max-width:968px){

    .container{
        max-width: 900;
        padding:0 100px;
        margin:0 auto;
    }


    /* header section */

    .header{
        height: 130px;
        background-color: black;
        position: sticky;
        top:0;
        z-index: 400;
        margin-bottom: 70px;
    }
    .flex{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    }
    .navbar .flex{
        margin-top: 40px;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .grid .image-div{
        display: none;
    }

  .subheading{
    text-align: start;
  }

  /* skills */

  .grid-3, .projects .grid-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .card-image{
    height: 30px;
    width:50%;
    border-radius: 30px;
    box-shadow: 0 0 3px 3px rgba(1,12,13, .5);
    
}

.card-1, .card-2, .card-3{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
    color: #333;
}

.project-item{
    display: grid;
    justify-content: center;
    align-items: center;


}


}