.projects{
    position: relative;
    background-color: black;
    margin:50px 40px;
    padding: 30px 30px;
    z-index: -100;

}

.projects > h1{
    margin:40px 0;
}

.project-image {
    height: 50%;
     
}

.project-image > img{
    width: 100%;
    object-fit:cover;
}

.project-item{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 400px;
    width:307px;
    background-color: rgb(34, 34, 255);
    /* padding:40px; */
}

a .hob:hover{
    color:yellow;
    transform: scale(1.2);
}

