.skill .container{
    position: relative;
    background-color: #fff;
    /* opacity: .8; */
    transform: skewY(-10deg);
}

.card{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    margin:0 40px;
    border-radius: 10px;
    top:100px;
    /* background-color: #fff; */
    border-radius: 14px;
    box-shadow: -2px 4px 46px -15px #6b696b;
    min-width: 260px;
    min-height: 400px;
    color:black;
    justify-items: center;
    z-index: -1;
    transform: skewY(10deg);

}

#i{
    padding-top:50px;
    transform: skewY(10deg); 
}
.card-image{
    margin-top: 10px;
    height: 30px;
    width:100%;
    border-radius: 30px;
    box-shadow: 0 0 3px 3px rgba(1,12,13, .5);
    
}