@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lato', 'Courier New', Courier, monospace, Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    letter-spacing: 1.6px;
    font-weight: 300;
    color: #fff;
    background: #3E5151;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap:50px;
}

p{
    line-height: 2;
    margin:10px 0;
    font-weight: 400;
}




.subheading{
    grid-column-start: 1;
    grid-column-end: 4;
    /* justify-content: center; */
    color:rgb(71, 71, 210);
    opacity: .7;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    height: 80px;
    width: 100%;
    text-transform: uppercase;
}





