.out-now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 2rem;
    letter-spacing:-.2rem;
    line-height: 2.3rem;
}

.out-now .band-name{  
    color: #fff;  
}

.out-now h3{
    margin-top:10px;
    font-size: 1.3rem;
    letter-spacing: .2rem;
}