@media(max-width:768px){
    .navbar{
        height:100px;
        display: flex;
        flex-direction: column;
    }

    .about{
        height: 90svh;
    }
    .about .flex .intro{
        flex-direction: column;
        gap:10px;
        justify-content: center;
        align-items: center;
    }
    .intro-text{
        text-align: center;
    }

    .projects{
        grid-template-columns: repeat(1, 1fr);
    }
    .project{
        width:85%;
    }
}

@media(max-width:500px){
    .about .flex h1{
        width:100%;
        font-size: 1.6rem;
        color: #fff;
       
    }
    
    .about .flex h2,
    .about .flex p{
        font-weight: 800;
        font-size: 1.3rem;
        color: #827b7b;
        border-left: 1px dotted #fff;
        border-right: 1px dotted #fff;
        padding:0 10px;
        
    }

    .project{
        height:530px;
    }

    .contact-form{
        padding:10px;
    }

    input, textarea {
        font-size: 1rem;
        appearance: none;
        padding: 15px;
        
      }

}