@media(max-width:768px){
    .navbar{
        height:100px;
        display: flex;
        flex-direction: column;
    }

    .about{
        height: 90svh;
    }
    .about .flex .intro{
        flex-direction: column;
        gap:10px;
        justify-content: center;
        align-items: center;
    }
    .intro-text{
        text-align: center;
    }

    .projects{
        grid-template-columns: repeat(1, 1fr);
    }
    .project{
        width:85%;
    }
}