@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700;800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    line-height: 1.4;
    word-spacing: .2rem;
}

body{
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: #b5aeae;
    scroll-behavior: smooth;
}

main{
    width:100%;
    box-shadow: -1px -1px 27px -1px rgba(153,153,153,1);
    padding-bottom: 40px;
}

img{
    width:100%;
    object-fit: cover;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card{
    box-shadow: 40px 0px 30px rgba(0,0,0, .1),
    -40px 0px 30px rgba(0,0,0, .1);
    border-radius: 10px;
}

header{
    position: sticky;
    top:0;
    background-color: #b5aeae;
    z-index: 100;
}
.navbar{
    height: 70px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding:20px;
}

.navbar h1{
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-links{
    display: flex;
    list-style: none;
    gap:50px;
}

.navbar-links li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color:#333;
    transition: 300ms ease;
}
.navbar-links a:hover{
    color:#fff;
    cursor: pointer;
    font-weight: 400;
    border:none;
    padding:7px;
    border-radius: 10px;

}

.link{
    color: #fff;
    gap: 30px;
}

.icon{
    position: absolute;
    display: block;
    align-self: center;
    justify-content: center;
    top:25px;
    right: 10px;
    color:#0a0909;
    background-color: #b5aeae;
}

#arrow{
    position: fixed;
    bottom: 30px;
    right: 70px;
    color:#de1d0a;
    z-index:100;
}

#arrow:hover{
    color:#5a8dae;
}
.about{
    width:100%;
    height:90svh;
    /* width: 100%; */
    background-color: #5a8dae;
    opacity: .8;
}

.about .flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-top: 30px; */
    gap:20px;
    
}

.about .flex img{
    width:200px;
    object-fit: cover;
}
.about .flex h1{
    padding:10px 0;
    font-size: 2.2rem;
    color: #fff;
   
}

.about .flex h2,
.about .flex p{
    font-weight: 700;
    color: #d1d1d1;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    padding:0 10px;
    
}

.about .flex h2{
    padding-top: 10px;
}

.about .flex p{
    padding-bottom: 10px;
}

hr{
    position: relative;
    z-index: 200;
    width:100%;
    border: 1px solid #fff;
}

.top{
    transform: rotate(1.5deg);
    margin-bottom: 10px;
}

.intro{
    width:100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.hero-text{
    display: block;
    text-align: center;
    padding-bottom: 10px;

}

.hero-text h1{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

.btn{
    display: inline-block;
    font-size: 1.2rem;
    color:white;
    font-weight: 700;
    text-decoration: none;
    border:none;
    padding:10px 30px;
    background-color: #de1d0a;
    /* background-color:blue; */
    border-radius: 10px;
    transition: 400ms ease;
}

.btn:hover, button:hover{
    box-shadow: 4px 2px 23px 0px rgba(40,160,224,1);
    background-color: #333;
}
.about .flex{
    background-image: url("https://source.unsplash.com/gray-and-black-laptop-computer-on-surface-Im7lZjxeLhg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: .8; */
    width: 100%;
    margin: 0;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100px;
    margin: 0;
    font-size: 2.2rem;
    font-weight: 800;
    opacity: .8;
    background-color: #f4f4f4;
}

.projects{
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:auto;
    padding:100px 30px;
    gap:40px;
    justify-content: center;
    align-items: center;
}

.project{
    height: 100%;
    width:100%;
    position: relative;
    background-color: #d8d4d4;
    display: grid;
    gap:10px;
    margin: auto;
    padding-bottom: 30px;
    height: 550px; 
}

.description{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap:5px;
    justify-content: space-between;
    /* align-items: center; */
    /* text-align: center; */
}
.description .btn{
    display: block;
    font-size: .8rem;
    font-weight: 800;
    margin-left: auto;
    margin-right: 20px;
    padding: 13px 15px;
    margin-top: 10px;
    text-transform: uppercase;
}

.project-image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.projects p, 
.projects h3,
.projects h4
{
    color:#0a0909;
    padding:0 10px;

}

section.contact-form {
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 40px auto;
    border-radius: 10px;
  }


.form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
  }

  input, textarea {
    appearance: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: .3px 1px 1px 2px rgba(15, 15, 15, 0.787);
    outline: none;
    border: none;
    background-color: #b5aeae;
  }

  button {
    background-color: #de1d0a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }

.footer{
    background-color: #b5aeae;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    
}
 .icons a{
    margin-right: 10px;
    color: #0a0909;
    border: none;
    transition: 300ms ease-in;
 }

 .icons a:hover{
    color:#fff;   
 }

