@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed:wght@300&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    line-height: 1.4;
}

body{
    max-width: 1250px;
    margin:auto;
    font-family: 'Lato', sans-serif;
    background-color: #b5aeae;
    scroll-behavior: smooth;
}

img{
    width:100%;
    object-fit: cover;
}

.card{
    background-color: #7a7d7f;
    box-shadow: 40px 0px 30px rgba(0,0,0, .1),
    -40px 0px 30px rgba(0,0,0, .1);
    border-radius: 10px;
}

.btn{
    display: inline-block;
    text-transform: uppercase;
    margin-right:auto;
    margin-left: 8px;
    margin-top: 5px;
    font-size: 1.2rem;
    padding:10px 10px;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    background-color: #5a8dae;
    box-shadow: 2px 1px 2px rgba(2,10,19,.5),
    -4px 1px 4px (1,1,0 .5);
    transition: 400ms ease;
}

.btn:hover{
    background-color: #0a0909;
    box-shadow: 3px 2px 18px -1px rgb(77, 133, 230);
}

header{
    position: sticky;
    top:0;
    background-color: #b5aeae;
    z-index: 100;
}
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}
.navbar h1{
    font-size: 1.5rem;
}

.navbar-links{
    display: flex;
    list-style: none;
    gap:20px
}

.navbar-links li a{
    text-decoration: none;
    font-size: 1.2rem;
    color:#333;
    transition: 300ms ease;
}
.navbar-links a:hover{
    color:#fff;
    cursor: pointer;
    font-weight: 400;
    border:none;
    border: .4px solid #5a8dae;
    padding:7px;
    border-radius: 10px;
    box-shadow: 3px 2px 18px -1px rgb(77, 133, 230);

}

.link{
    color: #fff;
}

.icon{
    position: absolute;
    display: block;
    align-self: center;
    justify-content: center;
    top:25px;
    right: 10px;
    color:#0a0909;
    background-color: #b5aeae;
}

#arrow{
    position: fixed;
    bottom: 30px;
    right: 70px;
    color:#fff;
    z-index:100;

}

#arrow:hover{
    color:#5a8dae;
}

.hero-text{
    display: flex;
    flex-direction: column;
    flex:0 1 100vw;
    height: 50vh;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: center;
    opacity: .8;
    text-transform: capitalize;
    background-image: url("delhiairportpic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}

.hero-inner-text{
    background-color: #323334;
    border-radius: 10px;
    padding:10px 0;
    opacity: .6;
    margin-top: 100px;
    
}
.hero-text h1{
    letter-spacing:3px;
    padding:10px 0;
    font-size: 1.8rem;
    color:#fff;
}
.hero-text h2,
.hero-text p{
    font-size: 1rem;
    color: #d1d1d1;
}
.hero-img h1{
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

.hero-img .link{
    font-size: 1.4rem;
    text-decoration: none;
    border:none;
    padding:7px 15px;
    background-color:blue;
    border-radius: 10px;
    transition: 400ms ease;
}

.hero-img .link:hover{
    box-shadow: 4px 2px 23px 0px rgba(40,160,224,1);
    background-color: #333;
}
.hero-img{
    background-image: url("https://source.unsplash.com/gray-and-black-laptop-computer-on-surface-Im7lZjxeLhg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    flex: 0 1 100vw;
    height:50vh;
    margin: 0;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 200px;
    font-size: 2.2rem;
    background-color: black;
    opacity: .8;
}

.projects{
    background-color: rgb(52, 49, 49);;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr auto auto auto;
    margin:auto;
    padding:0 30px;
    gap:40px;
    justify-content: center;
    align-items: center;
}

.project-one, 
.project-two,
.project-three {
    display: grid;
    gap:5px;
    margin:30px auto;
    padding-bottom: 30px;
    justify-content: center;
    text-align:left; 
    height: auto; 
}

.project-image{
    /* display: inline-block; */
    height: 50%;
}

.projects p, 
.projects h3,
.projects h4
{
    color:#0a0909;
    padding:0 10px;

}

.project .link a{
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
   text-decoration: none;
}

.project .link:hover{
    background-color: #7a7272;

}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5a8dae;
    padding:20px;
    width: 400px;
    margin:auto;
    text-align: center;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact h1{
    margin-bottom: 30px;
}

.inputbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.inputbox input{
    font-size: 1rem;
    margin: 10px;
    padding: 5px;
    width:300px;
    outline: none;
    outline-color: none;
    border-radius: 20px;
    border-color: none;
}

.inputbox input[type='button']{
    margin-top: 30px;
    width:200px;
    padding:10px;
}

.inputbox input[type='button']:hover{
    box-shadow: 4px 2px 23px 0px rgb(231, 170, 205);
    background-color: #f4f4f4;
}

.footer{
    background-color: #b5aeae;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    
}
 .icons a{
    margin-right: 10px;
    color: #0a0909;
    border: none;
    transition: 300ms ease-in;
 }

 .icons a:hover{
    color:#fff;
    
 }

