
@media (max-width: 768px) {
    .container{
      padding:0 20px;
    }
    .hamburger {
      display: block;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 60px;
      gap: 0;
      flex-direction: column;
      background-color: var(--back-ground-color);
      opacity: .7;
      width: 100%;
      text-align: center;
      transition: .3s;
    }
  
    .nav-item {
      margin: 16px 0;
    }
  
    .nav-menu.active {
      left: 0;
    }
    .navbar{
      display: flex;
      padding:0;
      margin: 0 auto;
    }
  }

  @media (mix-width: 290px) and (max-width: 450px) {
    .container{
      padding:0 20px;
    }
}

@media (min-width:300px) and (max-width:768px){
  .theme-toggle{
   position: absolute;
   right:25px;
   top:80px;
   z-index: -1;
   /* font-size: 2rem; */
  }
  .fa-moon{
    font-size: 2rem;
  }
 }

 @media (orientation:landscape) and (max-height:500px){
  .about{
    display: flex;
    height: calc(100svh - 70px);
  }
  .intro{
    justify-content: center;
  }
  .about .flex  img{
    display: none;
    overflow: hidden;
  }
  }