@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap");

:root {
  --main-color-text: #fff;
  --text-color-black: black;
  --secondary-color-text: #333;
  --main-color-btn-text: #de1d0a;
  --btn-section-bg-color: rgb(243, 236, 236);
  --btn-color: #fff;
  --btn-border: none;
  --back-ground-color: #141b41;
  --text-shadow-heading: 60px 20px 50px rgba(22, 190, 31),
    -60px 20px 60px rgb(4, 107, 81);
  --header-color: #141b41;
  --subheading-color: #5efc8d;
  --card-background-color: #fff;
  --contact-form-border:1px solid #333;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-spacing: 0.1rem;
}

.dark-mode {
  --back-ground-color: #c9c6c6;
  --main-color-text: #333;
  --btn-color: #333;
  --svg-color: #000000;
  --header-color: #fff;
  --subheading-color: #080911;
  --card-background-color: rgba(150, 150, 152, .3);
  --main-color-btn-text: #c9c6c6;
  --btn-border: 1px solid rgb(147, 133, 133);
  --text-shadow-heading: 60px 20px 50px rgb(2, 1, 6),
    -60px 20px 60px rgb(2, 1, 6);
  --btn-section-bg-color: var(--main-color-btn-text);
--contact-form-border:1px solid #a1a2a1;
  /* transition: all 2s ease; */
}

body {
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  color: var(--main-color-text);
  background-color: var(--back-ground-color);
}

@media (min-width: 900px) {
  .name {
    position: relative;
    transform: translateX(-300px);
    opacity: 0;
    transition: opacity 0.5s, transform 1.5s;
  }
  .text,
  .text2 {
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: opacity 1s, transform 1.5s;
  }
  .pr {
    position: relative;
    transform: translateY(-300px);
    opacity: 0;
    transition: opacity 0.5s, transform 1.5s;
  }
  .check-btn {
    position: relative;
    transform: translateX(300px);
    opacity: 0;
    transition: opacity 1s transform 4s;
  }
  .name.visible,
  .text.visible,
  .text2.visible,
  .pr.visible,
  .check-btn.visible {
    opacity: 1;
    transform: translate(0);
  }
  .check-btn.visible {
    transition: 2s;
  }
}

.container {
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: #101419; */
}

.card {
  box-shadow: 40px 0px 30px rgba(0, 0, 0, 0.1),
    -40px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
/* 
.icon {
  position: absolute;
  display: block;
  align-self: center;
  justify-content: center;
  top: 25px;
  right: 10px;
  color: #f00909;
  background-color: #b5aeae;
} */

.about {
  width: 100%;
  height: calc(100svh - 70px);
  border-radius: 40px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subheading-color);
  height: 100px;
  margin: 0;
  font-size: 2.2rem;
  font-weight: 800;
  /* opacity: 0.1; */
  /* background-color: #BF1363; */
  text-shadow: var(--text-shadow-heading);
}

section.contact-form {
  border-radius: 8px;
  border: var(--contact-form-border);
  padding: 0 20px;
  max-width: 400px;
  margin: 200px auto;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--main-color-text);
}

input,
textarea {
  appearance: none;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  /* box-shadow: .3px 1px 1px 2px rgba(15, 15, 15, 0.787); */
  /* border-radius: 10px; */
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  background-color: var(--back-ground-color);
  border: 1px solid var(--main-color-text);
  resize: vertical;
  color: var(--main-color-text);
  font-size: 1.2rem;
}

::placeholder {
  /* color: red; */
  opacity: 0.8; /* Firefox */
  font-size: 1rem;
  text-align: justify;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  /* color: red; */
  opacity: 0.8;
  font-size: 1rem;
}

#submit {
  background-color: var(--main-color-btn-text);
  margin-top: 20px;
  color: var(--btn-color);
  padding: 15px 20px;
  border: var(--btn-border);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  margin-bottom: 50px;
}

.footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 50px;
}
.icons a {
  margin-right: 10px;
  color: #333;
  border: none;
  transition: 300ms ease-in;
}

.icons a:hover {
  color: #de1d0a;
}

#danger,
#success {
  display: none;
}

#arrow {
  position: fixed;
  bottom: 30px;
  right: 70px;
  color: #de1d0a;
  z-index: 100;
  font-weight: 800;
}

#arrow:hover {
  color: #5a8dae;
}

@media (max-width: 390px) {
  .icons {
    padding-bottom: 50px;
    justify-content: center;
    margin: 0 auto;
    gap: 5px;
  }
  .footer {
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .footer p {
    font-size: 0.8rem;
  }
}
.theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.theme-toggle:hover {
  box-shadow: none;
  background-color: transparent;
}

.skills{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
  gap:30px;
  justify-content: center;
  margin: 50px auto;
  margin-bottom: 100px;
  
}

.skill{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--card-background-color);
  color: #000000;
  padding: 30px 20px;
  gap:30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.skills ul{
  display: flex;
  flex-direction: column;
  gap:10px;
  font-size: 1.2rem;
}
.skill h1{
  margin:0 auto;
}
